/target
/classes
/checkouts
*.jar
*.class
/.cpcache
/.lein-*
/.nrepl-history
/.nrepl-port
.hgignore
.hg/
.rebel_readline_history

// For running kaocha-cljs

.cljs_node_repl/
node_modules/
package-lock.json
tests.edn
out

// Shadow-cljs
.cljs
.shadow-cljs/
node_modules/
out
package.json
package-lock.json
resources/
/public/*
!/public/index.html
chui/*
!/chui/index.html
