{:aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]}

  :deploy
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :remote}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}

  :dev
  {:extra-paths ["src/dev"
                 "src/example"]}

  :install
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :local}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}

  :jar
  {:exec-args    {:jar "compiled/jvm/release.jar"}
   :exec-fn      hf.depstar/jar
   :replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}}

  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0.829"}}}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
   :main-opts  ["-m" "nrepl.cmdline" "--port" "14563"]}

  :test
  {:extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}
   :extra-paths ["src/test"]}}


 :deps
 {}


 :paths
 ["src/main"]}
