{:aliases
 {:bench
  {:extra-deps  {com.taoensso/tufte {:mvn/version "2.2.0"}}
   :extra-paths ["src/bench"]}
  
  :cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}
   :main-opts  ["-m" "shadow.cljs.devtools.cli"]}

  :deploy
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :remote}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}

  :dev
  {:extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}
   :extra-paths ["src/dev"
                 "src/example"]}

  :jar
  {:exec-args    {:jar "compiled/jvm/release.jar"}
   :exec-fn      hf.depstar/jar
   :replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}}

  :install
  {:exec-args  {:artifact  "compiled/jvm/release.jar"
                :installer :local}
   :exec-fn    deps-deploy.deps-deploy/deploy
   :extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}}

  :test
  {:extra-deps  {lambdaisland/kaocha    {:mvn/version "1.0.829"}
                 org.clojure/test.check {:mvn/version "1.1.0"}}
   :extra-paths ["src/test"]}}


 :deps
 {}


 :paths
 ["src/main"]}
