{:builds
 {:bench
  {:asset-path "/js"
   :modules    {:main {:entries [helins.binf.bench]
                       :init-fn helins.binf.bench/main}}
   :output-dir "resources/public/js"
   :target     :browser}
  
  :dev
  {:asset-path "/js"
   :modules    {:main {:entries [helins.binf.dev]}}
   :output-dir "resources/public/js"
   :target     :browser}


 :test
 {:ns-regexp ".+"
  :runner-ns lambdaisland.chui.shadow.browser-runner
  :target    :browser-test
  :test-dir  "resources/chui"}}

 :deps
 {:alias [:cljs]}

 :dev-http
 {8000 "resources/public"}
 
 :nrepl
 {:port 14563}}
